:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-heading: 'DM Serif Display', serif;
  --font-body: 'Karla', sans-serif;
  --color-primary: hsl(256, 26%, 20%);
  --color-primary-dark: hsl(270, 9%, 17%);
  --color-secondary: hsl(216, 30%, 68%);
  --color-secondary-dark:hsl(273, 4%, 51%) ;
  --color-gray-light: hsl(0, 0%, 98%);
  --color-light:#f8f9fa;
  --color-dark:#212529; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 992px) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-body);
  color: var(--color-dark);
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  min-width: 320px;
  overflow-x: hidden;
  scroll-behavior: smooth; }

.grid-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.page-container {
  display: grid;
  grid-template-rows: 90vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 992px) {
    .page-container {
      grid-template-rows: 90vh min-content;
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.content-grid {
  display: grid;
  grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]; }
  @media only screen and (max-width: 992px) {
    .content-grid {
      grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]; } }

.container {
  margin: 0px auto;
  max-width: 95%;
  width: 120rem; }

.button {
  border: 1px var(--color-light) solid;
  color: var(--color-light);
  background-color: transparent;
  font-weight: 500;
  padding: 1rem 3rem;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  transition: background-color 0.3s ease; }
  .button:hover {
    color: var(--color-primary);
    background-color: var(--color-light); }

.call-to-action {
  background-color: var(--color-primary);
  color: var(--color-gray-light);
  padding: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  background-position: right top;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 768px) {
    .call-to-action {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-image: url("../images/bg-pattern-how-we-work-mobile.svg"); } }
  .call-to-action h2 {
    font-size: 4.5rem;
    font-family: var(--font-heading);
    font-weight: 400;
    line-height: 1.1; }
    @media only screen and (max-width: 768px) {
      .call-to-action h2 {
        margin-bottom: 4rem; } }
    .call-to-action h2 span {
      display: block; }
  .call-to-action a {
    text-transform: uppercase; }

.features .container {
  padding: 3rem 0;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 768px) {
    .features .container {
      margin-bottom: 5rem; } }
  .features .container h1 {
    font-size: 6.5rem;
    font-family: var(--font-heading);
    font-weight: 400;
    margin-bottom: 6rem;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .features .container h1 {
        font-size: 5.5rem;
        text-align: center; } }
    .features .container h1:before {
      content: "";
      position: absolute;
      height: 15px;
      border-top: 1px solid var(--color-primary-dark);
      top: 0;
      width: 15rem;
      margin-top: -3rem; }
      @media only screen and (max-width: 768px) {
        .features .container h1:before {
          transform: translateX(60%); } }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem; }
  @media only screen and (max-width: 768px) {
    .cards {
      text-align: center;
      padding: 2rem; } }

.card svg {
  margin-bottom: 2rem; }

.card h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 1.5rem; }

.card p {
  color: var(--color-secondary-dark); }

.footer {
  background-color: var(--color-gray-light);
  margin-top: 15rem;
  padding: 2rem 0;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-position: left top;
  background-repeat: no-repeat; }
  .footer-logo {
    width: auto;
    max-height: 3rem; }
    @media only screen and (max-width: 768px) {
      .footer-logo {
        margin-bottom: 4rem; } }
  .footer-top {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-secondary); }
    @media only screen and (max-width: 768px) {
      .footer-top {
        padding: 3rem;
        flex-direction: column; } }
    .footer-top-icons {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-column-gap: 2rem;
      list-style: none; }
  .footer-bottom {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem; }
    @media only screen and (max-width: 768px) {
      .footer-bottom {
        text-align: center; } }
    .footer-bottom__col {
      font-size: 1.4rem; }
      @media only screen and (max-width: 768px) {
        .footer-bottom__col {
          font-size: 1.6rem; } }
      .footer-bottom__col h4 {
        color: var(--color-secondary);
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 700; }
      .footer-bottom__col ul {
        list-style: none; }
        .footer-bottom__col ul li {
          margin-bottom: 0.8rem; }
          @media only screen and (max-width: 768px) {
            .footer-bottom__col ul li {
              margin-bottom: 1.2rem; } }
          .footer-bottom__col ul li a {
            color: var(--color-primary-dark);
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700; }

.hero {
  background-color: var(--color-primary);
  height: 60rem;
  margin-bottom: 30rem; }
  @media only screen and (max-width: 768px) {
    .hero {
      height: auto;
      padding-bottom: 8rem;
      margin-bottom: 10rem; } }
  .hero .container {
    color: var(--color-gray-light);
    padding: 15rem 0 10rem 0;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem; }
    @media only screen and (max-width: 768px) {
      .hero .container {
        grid-template-columns: 1fr;
        padding: 0;
        max-width: 100%; } }
  .hero-information {
    z-index: 10; }
    @media only screen and (max-width: 768px) {
      .hero-information {
        text-align: center;
        padding: 6rem 1rem;
        max-width: 95%;
        margin: 0 auto; } }
    .hero-information h1 {
      font-size: 6.5rem;
      font-family: var(--font-heading);
      font-weight: 400;
      position: relative;
      line-height: 1.1;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 768px) {
        .hero-information h1 {
          margin: 3rem 0; } }
      .hero-information h1 span {
        display: block; }
      .hero-information h1:before {
        content: "";
        position: absolute;
        height: 15px;
        border-top: 1px solid white;
        top: 0;
        width: 15rem;
        margin-top: -3rem; }
        @media only screen and (max-width: 768px) {
          .hero-information h1:before {
            content: none; } }
    .hero-information p {
      margin-bottom: 3.5rem; }
      @media only screen and (max-width: 768px) {
        .hero-information p {
          font-size: 2rem;
          margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .hero-image {
      grid-row: 1 / -1;
      z-index: 15; } }
  .hero-image img {
    margin-top: -3rem;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .hero-image img {
        margin: 0; } }
  .hero-wrapper {
    background-image: url("../images/bg-pattern-intro-left-desktop.svg"), url("../images/bg-pattern-intro-right-desktop.svg");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    height: 80rem;
    width: 100%;
    position: absolute;
    z-index: 5; }
    @media only screen and (max-width: 768px) {
      .hero-wrapper {
        margin-top: 50rem;
        background-image: url("../images/bg-pattern-intro-left-mobile.svg"), url("../images/bg-pattern-intro-right-mobile.svg");
        background-position: left top 50px, right bottom; } }

.navbar {
  background-color: var(--color-gray-light); }
  .navbar-logo {
    width: auto;
    max-height: 3rem; }
  .navbar .container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 3rem 0; }
    @media only screen and (max-width: 768px) {
      .navbar .container {
        padding: 1rem; } }

@media only screen and (max-width: 768px) {
  .nav {
    display: none; } }

.nav ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 3rem;
  list-style: none; }

.nav li a {
  text-decoration: none;
  color: var(--color-secondary);
  text-transform: uppercase; }
  .nav li a.button {
    border: 1px var(--color-primary-dark) solid;
    color: var(--color-primary-dark); }
    .nav li a.button:hover {
      background-color: var(--color-primary-dark);
      color: var(--color-light); }

.mobile-nav {
  display: none;
  border: none;
  background-color: transparent;
  padding: 1rem; }
  @media only screen and (max-width: 768px) {
    .mobile-nav {
      display: block; } }
