.hero {    
    background-color: var(--color-primary);
    height: 60rem;
    margin-bottom: 30rem;   
    
    @media only screen and (max-width: $breakpoint-md) {
        height: auto;
        padding-bottom: 8rem;
        margin-bottom: 10rem;  
    }

    & .container {
        color: var(--color-gray-light);
        padding: 15rem 0 10rem 0;
        z-index: 2;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-column-gap: 10rem; 

        @media only screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
            padding: 0;
            max-width: 100%;
        }
    }

    &-information {
        z-index: 10;     

        @media only screen and (max-width: $breakpoint-md) {
            text-align: center;
            padding: 6rem 1rem;
            max-width: 95%;
            margin: 0 auto;
        }

        & h1 {
            font-size: 6.5rem;
            font-family: var(--font-heading);
            font-weight: 400;
            position: relative;
            line-height: 1.1;
            margin-bottom: 2rem;

            @media only screen and (max-width: $breakpoint-md) {
                margin: 3rem 0;
            }

            & span {
                display: block;
            }

            &:before {
                content: "";
                position: absolute;
                height: 15px;
                border-top: 1px solid white;
                top: 0;
                width: 15rem;
                margin-top: -3rem;

                @media only screen and (max-width: $breakpoint-md) {
                    content: none;
                }
            }
        }

        & p {
            margin-bottom: 3.5rem;

            @media only screen and (max-width: $breakpoint-md) {
                font-size: 2rem;
                margin-bottom: 5rem;
            }
        }
    }

    &-image {
        @media only screen and (max-width: $breakpoint-md) {
            grid-row: 1 / -1;
            z-index: 15;
        }
        
        & img {
            margin-top: -3rem;
            width: 100%;

            @media only screen and (max-width: $breakpoint-md) {
                margin: 0;                
            }
        }
    }
    
    &-wrapper {
        background-image: url("../images/bg-pattern-intro-left-desktop.svg"), url("../images/bg-pattern-intro-right-desktop.svg");
        background-position: left bottom, right top;
        background-repeat: no-repeat;
        height: 80rem;
        width: 100%;
        position: absolute;
        z-index: 5;

        @media only screen and (max-width: $breakpoint-md) {
            margin-top: 50rem;
            background-image: url("../images/bg-pattern-intro-left-mobile.svg"), url("../images/bg-pattern-intro-right-mobile.svg");
            background-position: left top 50px, right bottom;               
        }
    }
}
