.button {
    border: 1px var(--color-light) solid;
    color: var(--color-light);
    background-color: transparent;
    font-weight: 500;
    padding: 1rem 3rem;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
        color: var(--color-primary);
        background-color: var(--color-light);
    }
}